

    .image{

        max-width: 500px;
        margin-left: auto;
    }

    /* .image2{
        max-width: 500px;
    } */

    .image2{
        top: -30%;
    }



.sec2-br{
    /* border: 2px solid black; */
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.fr-br{
    border-top-right-radius: 100px;
}

@media screen and  (max-width:1023px) {
    .section1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    }
    .image{
        margin-left: auto;
        margin-right: auto;
    }

    
    .text{
        width: 600px;
        margin-right: 45px;
        margin-left: 45px;
    }

    .section2{

        display: flex;
        flex-direction: column-reverse;
    }
    
    .section3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
}

@media  screen and (max-width:850px) {

    
    .text{
        width: 500px;
        text-align: center;
    }

    .section2{
        display: none;
    }
    
}